<div class="header">
  <h1>TWICE APP</h1>
</div>
<div class="main">
  <%= link_to 'GO HARD', '/posts/new' %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-date">
        投稿日時：<%= post.created_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
    </div>
  <% end %>
</div>
